body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    -webkit-font-smoothing: antialiased; /*se a fonte tiver serrilhamento, ele tira*/
    -moz-osx-smoothing: grayscale; /*se o cara estiver no osx (sistemas operacionais da apple) ou no mozilla, o texto vai ficar smooth*/
}

