li a {
    display: flex; /* Define o layout como flexível para alinhar os itens */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-content: center; /* Alinha os itens horizontalmente ao centro */
    padding: 16px 24px; /* Adiciona preenchimento de 16px em cima e embaixo, e 24px nas laterais */

    /*border: 1px solid var(--stroke-color)  Adiciona uma borda sólida com a cor definida na variável --stroke-color */
    border-radius: 8px; /* Arredonda os cantos da borda em 8px */
    border-width: 1px;
    border-style: solid;
    border-color: var(--stroke-color);
    
    background-color: var(--surface-color); /* Define a cor de fundo usando a variável --surface-color */

    text-decoration: none; /* Remove o sublinhado padrão dos links */
    font-weight: bold;
    color: var(--text-color);
}

li a:hover {
    background-color: var(--surface-color-hover);
    border-color: var(--text-color);
}