#Perfil {
    text-align: center;
    padding: 24px;

    & img{
        border-width: 4px;
        border-style: solid;
        background-color: rgba(146,146,146,0.0);
        width: 112px;
        height: 112px;
        border-radius: 50%;
    }

    & p {
        font-weight: bold;
        line-height: 24px;
        margin-top: 8px;
    }
}