footer {
    text-align: center;
    font-style: 14px;
    padding-top: 24px;
    color: var(--text-primary);

    & a {
        text-decoration: none;
        color: var(--accent-color);
        font-weight: bold;
    }
}